body {
  background-image: url(https://png.pngtree.com/background/20211215/original/pngtree-various-images-of-science-and-technology-blue-technology-wind-business-picture-image_1497212.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  overflow: hidden;
}

.App {
  margin-top: 120px;
  text-align: center;
  color: #fff;
  text-shadow: 3px 2px 3px rgba(10, 0, 0, 0.56);
}

h1 {
  font-size: 50px;
}
